body{
    padding:20px;
    background: url('/site/image/workInProgress_laptop4.jpg') no-repeat;
    background-position: center;
    background-size: cover;
}

section .modal-body img{
    width: 100%;
    height:auto;
}


section img{
    width:200px;
    height:auto;
}
.projectitem{
    min-height:150px;
    
}
form div{
    width: 130px;
    display: inline-block;
}
form input.form-control, form textarea.form-control, form select.form-control{
    margin-left: 20px;
    margin-right: 20px;
    width: 300px;
    display: inline-block;
}
nav a, nav a:hover{
    color: white;
}
#bodyinstall nav a{
    display: none;
}
#bodyinstall nav{
        min-height: 40px;
}
@media (min-width: 768px){
    .modal-open .modal-dialog {
        max-width: 80%;
    }
} 